.app-version {
  position: fixed;
  bottom: 0;
  opacity: 0;
  padding: 7px;
  background: white;
  color: black;
  font-size: 10px;
  transition: opacity .5s;
}

.app-version:hover {
  opacity: .5;
}